@charset "ISO-8859-1";


.itemcontainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.unicitem{
  margin-right: 20px;
  margin-bottom: 20px;
}

.card{
	max-width: 520px;
	
}