<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link th:href="@{/main.css}" type="text/css" rel="stylesheet" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Section Manager</title>
</head>
<body>
<div th:insert="main-menu"></div>
<div th:insert="header"></div>

        <div class="main">
            <form th:action="@{/save-new-section}" th:object="${cmd}">
                <table border="2" width="90%" align="center" cellpadding="7" class="table table-striped">     
                    <tr>
                        <td class="fheading" colspan="3">Adding new section</td>
                    </tr>
                    
                    <tr><td align="right">Section Name</td><td>
                            <input class="form-control" type="text" th:field="*{section_name}"/>
                            <input type="hidden" th:field="*{section_Id}"/>
                    </td></tr>
                    
                    <tr><td align="right">Section url</td><td>
                            <input class="form-control" th:field="*{section_url}"/>
                    </td></tr>
                    
                    <tr><td  align="right"></td><td>
                        <button class ="btn btn-primary">Save</button>
                        <button class ="btn btn-secondary">Cancel</button>
                    </td></tr>            
                </table>
            </form>
            <br/>
	           <table border="1" width="90%" class="table table-striped">                         
	                <tr>                       
	                    <th>Count</th>
	                    <th>ID</th>
	                    <th>Section Name</th>                        
	                    <th>URL</th>
	                    <th>Action</th>                                       
	                </tr>
	                <tr th:each="sec,itr: ${sectionList}">                       
	                    <td th:text="${itr.count}">SR</td>
	                    <td th:text="${sec.section_Id}">ID</td>
	                    <td th:text="${sec.section_name}">COURSE</td>                        
	                    <td th:text="${sec.section_url}">FEES</td>
	           			<td> <a th:href="@{'/edit-selected-section/'+${sec.section_Id}}">Edit</a> | 
                         	 <a th:href="@{'/delete-selected-section/'+${sec.section_Id}}">Trash</a></td>
	                </tr>
	            </table>
        </div>
</body>
</html>